body{
    background-color: #d5b084;
}
.Actor{
    background-color: whitesmoke;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    border: solid;
}
.customer_detail{
    border: solid red;
    grid-template-rows: 1fr 1fr ;

}
.info{
    margin-left: 10px;
}