.nav li{
    display: inline-flex;
    flex: content;
    padding: 20px;

    background-color: rgb(167, 238, 35);
    justify-content: center;
    font-size: large;

}
.nav{
    width: 100%;
    display: inline-flex;
    top: 0;
    
}